Repository xtergo/dnaresearch: changes, and which pre-commit hooks are due for each by the changed paths.
All: dna-research-validation, schema-validation, python-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dna-research-validation
        name: DNA Research Platform Validation
        entry: scripts/pre-commit-validation.sh
        language: script
        files: ^(api/.*|schemas/.*|docker/.*|requirements\.txt)$
        pass_filenames: false
        stages: [pre-commit]
      
      - id: schema-validation
        name: JSON Schema Validation
        entry: scripts/validate-schemas.sh
        language: script
        files: ^schemas/.*\.json$
        pass_filenames: false
        
      - id: python-lint
        name: Python Linting
        entry: scripts/python-lint.sh
        language: script
        files: ^api/.*\.py$
        pass_filenames: false

feat: implement theory management system for React UI support
  .gitignore
  IMPLEMENTATION_STATUS.md
  api/main.py
  api/test_theory_management.py
  api/theory_manager.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: implement response caching system with webhook integration
  IMPLEMENTATION_STATUS.md
  api/main.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: Enhanced GDPR compliance system implementation
  IMPLEMENTATION_STATUS.md
  api/gdpr_compliance.py
  api/main.py
  api/test_gdpr_api_enhanced.py
  api/test_gdpr_compliance.py
  api/test_gdpr_enhanced.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: implement variant interpretation API endpoints
  api/main.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: implement theory execution, validation, and forking endpoints
  IMPLEMENTATION_STATUS.md
  api/main.py
  api/theory_creator.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

docs: update implementation status with completed theory execution features
  IMPLEMENTATION_STATUS.md
Due: none

feat: implement researcher reports API endpoints
  api/main.py
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: Major API expansion with evidence validation and enhanced testing
  .dnaresearch-dev-config
  IMPLEMENTATION_STATUS.md
  REACT_UI_BACKEND_SUMMARY.md
  api/evidence_validator.py
  api/gdpr_compliance.py
  api/main.py
  api/scripts/security-scan.sh
  api/test_caching.py
  api/test_evidence_api.py
  api/test_gdpr_compliance.py
  api/test_performance.py
  api/test_security_audit.py
  api/test_theory_listing.py
  docker/Dockerfile.api
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

test: verify pre-commit hook works with metrics updates
  test-precommit.txt
Due: none

fix: pre-commit hook now properly handles metrics updates
  .pre-commit-config.yaml
  api/main.py
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
  scripts/analyze-coverage.sh
  scripts/pre-commit-wrapper.sh
Due: dna-research-validation, python-lint

test: verify pre-commit hook works with metrics
  api/main.py
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

cleanup: remove test files
  test-precommit.txt
Due: none

feat: implement React UI with gene search and variant interpretation
  .dnaresearch-dev-config
  portal/src/App.js
  portal/src/components/GeneSearch.js
  portal/src/components/VariantInterpretation.js
  portal/src/index.css
  portal/src/services/api.js
Due: none

feat: Implement comprehensive React UI backend support
  api/.coverage
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
  portal/src/App.js
  portal/src/components/EvidenceManagement.js
  portal/src/components/FileUpload.js
  portal/src/components/TheoryManagement.js
  portal/src/services/api.js
Due: dna-research-validation

feat: Implement enhanced webhook integration system
  REACT_UI_IMPLEMENTATION_SUMMARY.md
  api/enhanced_webhook_endpoints.py
  api/enhanced_webhook_handler.py
  api/main.py
  api/test_enhanced_webhooks.py
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
Due: dna-research-validation, python-lint

feat: Complete MVP polish - UI enhancement, API fixes, and production deployment
  .env.prod.template
  ENHANCED_WEBHOOK_IMPLEMENTATION.md
  README.md
  api/enhanced_webhook_endpoints.py
  api/enhanced_webhook_handler.py
  api/main.py
  api/test_enhanced_webhooks.py
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  portal/src/App.js
  portal/src/components/GeneSearch.js
  portal/src/components/VariantInterpretation.js
  portal/src/index.css
  portal/src/services/api.js
  scripts/start-development.sh
  scripts/start-production.sh
Due: dna-research-validation, python-lint

Implement authentication system with JWT tokens
  .env.dev
  .env.prod.template
  AUTHENTICATION_IMPLEMENTATION.md
  api/auth.py
  api/auth_routes.py
  api/main.py
  api/requirements.txt
  api/test_auth.py
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docs/authentication.md
  portal/nginx.conf
  portal/package.json
  portal/src/App.js
  portal/src/components/Login.js
  portal/src/index.css
  portal/src/services/api.js
  portal/src/services/auth.js
  requirements.txt
Due: dna-research-validation, python-lint

Fix all failing tests - comprehensive bug fixes
  .dnaresearch-dev-config
  IMPLEMENTATION_STATUS.md
  api/.coverage
  api/access_middleware.py
  api/blockchain_ledger.py
  api/enhanced_webhook_handler.py
  api/main.py
  api/test_access_middleware.py
  api/test_auth.py
  api/test_blockchain_ledger.py
  api/test_enhanced_webhooks.py
  metrics/coverage-metrics.csv
  metrics/pre-commit-metrics.csv
  scripts/analyze-coverage.sh
  scripts/pre-commit-validation.sh
  scripts/pre-commit-wrapper.sh
Due: dna-research-validation, python-lint

feat: implement GDPR-compliant Consent Management UI
  CONSENT_MANAGEMENT_IMPLEMENTATION.md
  metrics/pre-commit-metrics.csv
  portal/src/App.js
  portal/src/components/ConsentManagement.js
  portal/src/components/ConsentManagement.test.js
  portal/src/services/api.js
Due: none
